body {
    background-color: darkseagreen;
}
.centered {
    text-align: center;
}
#cage{
    border:5px solid gray;
    border-style: dashed;
}
.red {
    background-color: red;
    border-radius: 10px;
    color: whitesmoke;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 25%;
}
td, th {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 3px;
}